#### Importar bibliotecas e configurações de navegador

In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import pandas as pd

service = Service()

options = webdriver.ChromeOptions()

navegador = webdriver.Chrome(service=service, options=options)

navegador.maximize_window()

#### Determinar o endereço (site) para consulta

In [2]:
url = "https://books.toscrape.com/"

navegador.get(url)

#### Fazer o tratamento de pesquisa

In [3]:
navegador.find_elements(By.TAG_NAME, 'a')[54].get_attribute('title')

'A Light in the Attic'

#### Executar a consulta e converter em tabela

##### Exemplo 1

In [4]:
# lista_elementos = navegador.find_elements(By.TAG_NAME, 'a')

#  ## Minha versão -> O segundo argumento (title) não tem finalidade dentro do loop enumerate, porém, o código funciona.
# # lista_titulos = [navegador.find_elements(By.TAG_NAME, 'a')[i].get_attribute('title') for i, title in enumerate(lista_elementos) if i >= 54 and i % 2 == 0]

# lista_titulos = [navegador.find_elements(By.TAG_NAME, 'a')[i].get_attribute('title') for i in range(54, len(lista_elementos), 2)]

##### Exemplo 2 (revisada)

In [5]:
lista_elementos = navegador.find_elements(By.TAG_NAME, 'a')[54:94:2]

lista_titulos = [title.get_attribute('title') for title in lista_elementos]
lista_preco = []
estoque = []

for title in lista_elementos:
    title.click()
    preco = navegador.find_element(By.CLASS_NAME, 'price_color').text.replace("£", "R$")
    lista_preco.append(preco)
    valor_estoque = int(navegador.find_element(By.CLASS_NAME, 'instock').text.replace("In stock (", "").replace(" available)", ""))
    estoque.append(valor_estoque)

    navegador.back()

In [6]:
lista = pd.DataFrame({
    "Livros": lista_titulos,
    "Preço": lista_preco,
    "Estoque": estoque
})
lista.index += 1

display(lista)

                                               Livros    Preço  Estoque
1                                A Light in the Attic  R$51.77       22
2                                  Tipping the Velvet  R$53.74       20
3                                          Soumission  R$50.10       20
4                                       Sharp Objects  R$47.82       20
5               Sapiens: A Brief History of Humankind  R$54.23       20
6                                     The Requiem Red  R$22.65       19
7   The Dirty Little Secrets of Getting Your Dream...  R$33.34       19
8   The Coming Woman: A Novel Based on the Life of...  R$17.93       19
9   The Boys in the Boat: Nine Americans and Their...  R$22.60       19
10                                    The Black Maria  R$52.15       19
11     Starving Hearts (Triangular Trade Trilogy, #1)  R$13.99       19
12                              Shakespeare's Sonnets  R$20.66       19
13                                        Set Me Free  R$17.46       19
14  Scott Pilgrim's Precious Little Life (Scott Pi...  R$52.29       19
15                          Rip it Up and Start Again  R$35.02       19
16  Our Band Could Be Your Life: Scenes from the A...  R$57.25       19
17                                               Olio  R$23.88       19
18  Mesaerion: The Best Science Fiction Stories 18...  R$37.59       19
19                       Libertarianism for Beginners  R$51.33       19
20                            It's Only the Himalayas  R$45.17       19

In [7]:
# lista.to_excel("Lista Excelzinho.xlsx", index=False, header=False) # -> header=False irá remover o cabeçalho do DataFrame.